.mail-details {
    background-color: rgb(241, 227, 208);
    padding: 20px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.mail-details .header-subject {
    font-size: 1.5rem;
}

.mail-details h2 {
    line-height: 50px;
    font-size: 1.2rem;
    margin-right: 10px;
    font-weight: bold;
}

.mail-details h2,
p {
    display: inline;
}

.mail-details .header-details p {
    color: gray;
}

.mail-details .body-details {
    padding: 0px 20px;
    white-space: pre-line;
    text-indent: 0;
    white-space: wrap;
}

.mail-details .btn-delete {
    transform: translate(0, -100%);
    text-align: center;
    text-decoration: none;
    background-color: rgb(117, 109, 108);
    font-size: 25px;
    color: white;
    position: absolute;
    right: 30%;
    top: 120px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}