.note-list ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.note-style {
    padding: 10px;
    margin: 10px;
    width: 300px;
    /* height: 150px; */
    background-color: rgba(243, 182, 101, 0.288);;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    min-height: 250px;
}

.note-input {
    width: 300px;
    margin: 20px;
    margin-left: 30%;
    height: 30px;
}

.note-list select {
    height: 30px;
}

.note-filter input {
    height: 30px;
    margin-left: 30%;
    margin-top: 20px;
}

.note-list .btn-save {
    margin-left: 20px;
    padding: 6px;
}

.note-list .btn-remove {
    width: 30px;
    margin-left: 88%;
    padding: 3px;
}

.imgBtn{
    width:20px;
    
}
/* .btn-remove */
/* .note-img{
    width:100px;
    height: 100px;; */
/* } */